<br><br>
<img class="backgroundimg" src="../assets/7609112-a.png"style="width: 360px; opacity: 0.9; filter:contrast(100%); position: relative;">   
    

        <h1 class="megaevent" >Mega Event</h1>
 <table style="   position: absolute;">
    <tr>
        <td>
            1 August 2023
        </td>
        <td>
            Chennai
        </td>
        <td>
            <a href="#" style="background-color: #FC641B;color: white;text-decoration: none; cursor: pointer;">JOIN NOW</a>
        </td>
    </tr>
 </table>
 <img src="../assets/Group 1000003856.png" class="timeimg"><br>
<br>
 <div class="servicesandsupports" >
    <div style="float: left;"  class="CameraLighting" >
   <a  style="cursor: pointer; " > 
   <pre>
Camera &
Lighting
Services </pre> 
   </a>
  
  </div>
    <div style="float: left;" class=" WardrobeServicesSupport">
        <a  style="cursor: pointer;"  > 
 <pre>
Wardrobe
Services
& Support </pre> 
        </a>
    </div>
    <div class="TransportServicesSupport"> 
        <a  style="cursor: pointer;" >
 <pre >
Transport
Services
& Support</pre>
        </a>
    </div><br><br>
    <div style="float: left;" class="TechnologyStreamingServices">
        <a  style="cursor: pointer;" > 
<pre>
Technology &
 Streaming 
  Services</pre></a>
       
    </div>
    <div class="CameraVisualStreaming">
        <a  style=" cursor: pointer;" >  
 <pre>
Camera &
 Visual
Streaming</pre>
        </a>
    </div>
    <br>
<img src="../assets/7.png" style="margin-left: 10px;width: 340px;"><br><br>
<div style="float: left;  margin-left:15px;cursor: pointer;"> <a class="Register">Register</a></div>
<div style="margin-left: 150px;margin-top: 0px;cursor: pointer;"><a  class="bookyourmeeting">Book Your Meeting</a></div>
</div><br>
<h1 style="letter-spacing: 3px;margin-left: 30px;">Choose Your Plan</h1>
<img src="../assets/8.png" style="position: relative;margin-left: -20px;top: 170px;"><br>
<div style="position: absolute; background-color: #FF6600; height:630px; width:260px;margin-top: -210px;margin-left: 50px;">
    <pre style="font-size: 220%;color: white; margin-left: 15px;">
Premium Connect
   & Network</pre>
    <pre style="color: white; font-size: larger; margin-left: 30px;" >
Start with -<span style="font-size: larger;"> <b>50,000</b></span>/Rs
  ( Strike - 100000 )</pre>
      <div style="float: left; margin-right: 20px;"> <img src="../assets/Group 1000003904.png" style="margin-left: 15px;width: 17px;"></div> 
         <div><p style=" color: white;font-size: large;">10+ Event Floor Connect</p></div> 
         <div style="float: left; margin-right: 20px;"> <img src="../assets/Group 1000003904.png" style="margin-left: 15px;width: 17px;"></div> 
         <div><p style=" color: white;font-size: large;">30+ Stalls and location Engagement</p></div> 
         <div style="float: left; margin-right: 20px;"> <img src="../assets/Group 1000003904.png" style="margin-left: 15px;width: 17px;"></div> 
         <div><p style=" color: white;font-size: large;">Guarantee customer connect - Pre sales</p></div> 
         <div style="float: left; margin-right: 20px;"> <img src="../assets/Group 1000003904.png" style="margin-left: 15px;width: 17px;"></div> 
         <div><p style=" color: white;font-size: large;">Marketing and Promotion Portal -  1 lakh Connects</p></div> 
         <div style="float: left; margin-right: 20px;"> <img src="../assets/Group 1000003904.png" style="margin-left: 15px;width: 17px;"></div> 
         <div><p style=" color: white;font-size: large;">Sales closure on Trigger Customer</p></div> 
         <div style="float: left; margin-right: 20px;"> <img src="../assets/Group 1000003904.png" style="margin-left: 15px;width: 17px;"></div> 
         <div><p style=" color: white;font-size: large;">Network and Connect Order Quotes</p></div> <br><br>
         <div> <button style="color: white; border: 1px solid white; padding:10px; float: left;margin-left: 20px; cursor: pointer; background-color: #FF6600;" > Book a Meeting</button> </div>
         <div > <button style="color: #FF6600;margin-left: 30px; background-color: white; border: 1px solid white; padding: 10px; cursor: pointer;" >Pay Now</button> </div>
    
    </div>
<br>
    <div class="contactdetails" style="margin-top: 450px;margin-left: 30px;">
        <div style="width: 200px;border:1px solid black;;height: 200px;margin-left: 50px;box-shadow: 2px 2px 7px gray;">
          <img src="../assets/fluent_call-32-regular.png" style="background-color: #00AC2C;border-radius: 50%;width: 50px;margin-left:70px;margin-top:-30px;padding: 5px;"><br><br>
          <h2 style="margin-left: 45px;">Telephone</h2>
        <pre style="color: black;font-size: larger; margin-left:40px;">+1 386-688-3295</pre>
      </div><br><br>
       
        <div style="width: 200px;border:1px solid black;height: 200px;margin-left: 50px;box-shadow: 2px 2px 7px gray;">
            <img src="../assets/material-symbols_mail-outline.png" style="background-color: #00AC2C;border-radius: 50%;width: 50px;margin-left:70px;margin-top:-30px;padding: 5px;"><br><br>
            <h2 style="margin-left: 15px;">Drop Your Mail</h2>
            <p style="color: black; margin-left: 10px;  font-size: larger;">placiboo&#64;gmail.com</p>
        </div><br><br>
        <div style="width: 200px;border:1px solid black;;height: 200px;margin-left: 50px;box-shadow: 2px 2px 7px gray;">
          <img src="../assets/carbon_location.png" style="width: 30px;background-color: #00AC2C;border-radius: 50%;margin-left:70px;margin-top:-30px;padding: 5px;width: 50px;"><br><br>
          <h2 style="margin-left: 55px;">Location</h2>
          <pre style="color: black; margin-left: 70px;font-size: larger;">Chennai</pre>
      </div><br><br>
       
        </div>
      
        <div class="footer" style="background-color: #151A2C; height: 1600px; width: 360px;">
      
            <div style=" font-size: 130%;" >
        <pre style="color: whitesmoke; margin-top:30px;margin-left: -80px;">
        It is a long established fact that 
        a reader will be distracted by
        the readable content of a page 
        when looking at its layout. The
        point of using Lorem Ipsum is
        that it has a more
              </pre>
            </div>
            <div >
             
                <ul style="font-size:130%;margin-top: -50px;" >
                  <li><b>Service</b></li><br>
                  <li><a href="#">Investor</a></li>
                  <li><a href="#">Sponsors</a></li>
                  <li><a href="#">Service Providers</a></li>
                  <li><a href="#">Vendors</a></li>
                  <li><a href="#">Volunteer's</a></li>
                  <li><a href="#">NGO's</a></li>
                </ul>
            
            </div>
            <div>
              <ul style="font-size:130%;margin-top: -50px;">
                <li><b>Company</b></li><br>
                <li><a href="#">Service</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div >
             <p style="font-size:130%;margin-top: -50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
              <br>
              <form>
                <label for="">Your Email</label><br><br><br>
                <input type="email" placeholder="                      Enter Your Email"><br><br><br>
                <button>Subscribe</button>
              </form><br><br>
             
            </div><br>
          <div style="border-top: 2px solid rgb(0, 179, 255); width: 280px; margin-left: 10px;">
            <div >
                <img src="../assets/carbon_location.png" style="margin-left: -40px;width: 36px;">
                <p style="color: white; margin-top: -45px; margin-left: 30px;">
                  8819 Ohio St. South Gate,
                  CA 90280</p>
                </div>
                <div style="margin-top: -50px;">
                    <img src="../assets/fluent_call-32-regular.png"  style="width: 36px; margin-left: -40px;">
                    <p style="color: white; margin-top: -40px; margin-left:30px;">+1 386-688-3295</p>
                  </div>
        </div>
        
            
            </div>